body {
    background-color: #25304F;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #F4EEE9;
    margin: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #5CA5C6;
    margin: auto;
    padding: 0;
    /* border: 1px solid #888; */
    width: 60%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
 @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  

.open {
    border: none;
    background-color: #F4EEE9;
    padding: 10px;
    color: #25304F;
    width: 150px;
    font-weight: bold;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #F4EEE9;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #646363;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #646363;
}