@font-face {
    font-family: FontAwesome;
        src: url( "https://kit.fontawesome.com/19c75b59f6.js"),
}

$font_serif: 'Playfair Display', serif;
$font_sans: 'Open Sans', sans-serif;

$primary_color_dark: #000000;
$primary_color_light: #ffffff;
$color_bright: #EECD31;

p {
    margin: 0;
}


h1, h2, h3, h4 {
    color: $primary_color_light;
    margin: 0;
}

h1 {
    font-family: $font_serif;
    font-size: 80px;
    margin-bottom: 21px;
}

h2 {
    font-family: $font_serif;
    font-size: 60px;
}

h3 {
    font-family: $font_serif;
    font-size: 50px;
}

h4 {
    font-family: $font_sans;
    font-weight: 300;
    font-size: 30px;
}


body {
    background-color: $primary_color_dark;
    color: $primary_color_light;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    max-width: 1380px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    align-items: center;
}

.header {
    font-family: $font_sans;
    display: flex;
    justify-content: space-between;
    height: 49px;
    margin-top: 15px;
    width: 100%;
}

.header_logo {
    font-size: 36px;
    font-weight: 600;
}

.header_navigation {
    max-width: 454px;
    width: 100%;
}    

.navigation_list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.navigation_listItem {
    font-size: 14px;
    font-weight: 600;
}

.navigation_list a {
    text-decoration: none;
    color: $primary_color_light;
}

.navigation_list a:hover {
    text-decoration: none;
    color: $color_bright;
}

.slider {
    max-width: 1380px;
    width: 100%;
    max-height: 550px;
    height: 100%;
    margin-top: auto;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slider_content {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.slider_content_content {
    max-width: 1107px;
    width: 100%;
    max-height: 402px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 300px;
    width: 100%;
    margin-top: 38px;
}

.content_button {
    margin-top: 38px;
    height: 57px;
    width: 184px;
    background-color: $color_bright;
    font-family: $font_sans;
    font-size: 18px;
    color: $primary_color_light;
    border: none;
    border-radius: 25px;
}

.content_button:hover {
    background-color: $primary_color_light;
    color: $color_bright;
}

.slider_one_h4 {
    max-width: 750px;
    width: 100%;
}

.slick-dots li.slick-active button:before {
    color: white;
}

.slick-dots li button:before {
    color: white;
    opacity: 25%;
    font-size: 20px;
}

.slick-prev, .slick-next {
    top: 30%;
}

.slick-next {
    right: 20px;
}

.slick-prev {
    left: 20px;
}

.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome;
    font-size: 35px;
}

.slick-prev:before {
    content: "\f053";
}

.slick-next:before {
    content: "\f054";
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay_content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-family: $font_sans;
    color: $primary_color_light;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: $color_bright;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .navigation_list .icon_burger {
    display: none;
    text-decoration: none;
    color: $primary_color_light;
}

@media only screen and (max-width: 1200px) {

    .slider_content_content {
        width: 80%;
    }

    h2 {
        font-size: 50px;
    }

    .header {
        width: 80%;
    }
}

@media only screen and (max-width: 992px) {
    h1 {
        font-size: 60px;
    }
    
    h2 {
        font-family: $font_serif;
        font-size: 40px;
    }
    
    h3 {
        font-family: $font_serif;
        font-size: 30px;
    }
    
    h4 {
        font-family: $font_sans;
        font-weight: 300;
        font-size: 20px;
    }

    .slider_content_content {
        width: 80%;
    }

    .slick-prev {
        left: 25px;
    }

    .slick-next {
        right: 25px;
    }
    
}

@media only screen and (max-width: 700px) {

    .navigation_list a {
        display: none;
    }

    .navigation_list a.icon_burger {
        display: flex;
    }

}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .image {
        width: 70%;
    }

    .slider_content_content {
        width: 70%;
    }
}

