@font-face {
    font-family: Flat;
    src: url(../font/JF-Flat-regular.eot) format("embedded-opentype"),
         url(../font/JF-Flat-regular.woff) format("woff"),
         url(../font/JF-Flat-regular.ttf) format("truetype");
  }
  

body {
    font-family: Flat, Arial, sans-serif;
    background-color: #F6704B;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}

p {
    font-size: 18px;
    margin: 0;
    padding: 20px 15px 20px 15px;
}

.accordion {
    width: 380px;
    height: auto;
}

.title {
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.content {
    margin: 0;
    padding: 0;
    height: auto;
    
    -moz-box-shadow:    inset 0 0 6px  rgba(00,00,00,0.45);
    -webkit-box-shadow: inset 0 0 6px  rgba(00,00,00,0.45);
    box-shadow:         inset 0 0 6px  rgba(00,00,00,0.45);
     
}

.title_location, .content_location {
    background-color: #620808;
    color: #FFE9C1;
}

.title_music, .content_music {
    background-color: #A53F3F;
    color: #F4CE74;
}

.title_notes, .content_notes {
    background-color: #F4CE74;
    color: #620808;
}

.title_books, .content_books {
    background-color: #FFE9C1;
    color: #620808;
}

.title_tendances, .content_tendances {
    background-color: #D5441C;
    color: #FFE9C1;
}

.image {
    width: 58px;
    height: 58px;
    margin-right: 40px;
    margin-left: 7px;
}